.UTube-navbar {
  background-color: rgb(32, 32, 32);
  height: 3em;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.navbar-dropdown-menu-toggle-button {
  background-color: rgb(24, 24, 4);
  /* width: 10em; */
  margin-bottom: -3.8em;
}

.collapse-menu-hamburger-icon-collapse {
  width: 2em;
  height: 2em;
  margin-top: 1.65em;
  margin-left: 1.85em;

}

.navbar-dropdown-menu {
  color: rgb(24, 24, 24);
  width: 15em;
  height: 100vh;
  margin-top: 0.3em;
}

.UTubeLogo {
  width: 1.3em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  margin-top: -0.1em; 
}

.collapse-menu-sign-in-button-div {
  margin-top: 1em;
}

.collapse-menu-sign-in-button-div p {
  color: white;
  margin-left: 2em;
  margin-right: 1em;
  font-size: 0.9em;
}

.font-awesome-menu-icon {
  color: rgb(155, 155, 155);
  margin-right: 1em;
  margin-left: 0.9em;
  font-size: 1.4em !important;
  margin-top: 0.3em;
}

.navbar-sign-in-button {
  margin-right: 1em;
  margin-top: -0.8em;
  width: 7.5em;
  height: 2.4em;
  font-size: 0.9em !important;
  text-align: right;
  border-radius: 0;
}

.sidebar-sign-in-button {
  margin-top: -0.3em;
  margin-left: 2em;
  width: 7.8em;
  height: 2.6em;
  font-size: 0.9em !important;
  text-align: right;
  border-radius: 0;
  border-width: 0.2em;
}

.default-avatar-icon {
  width: 1.4em;
  float: left;
  margin-top: 0.05em;
  margin-right: 0.4em;
  margin-left: -0.15em;
}

.video-title-search-form {
  text-align: center;
}

.video-title-search-form input {
  padding-left: 0.5em;
  font-weight: 500;
  font-size: 1.1em;
  color: white;
}

.video-title-search-input {
  border-width: 0.05em;
  border-color: rgb(67, 67, 67);
  margin-bottom: 0.7em;
  background-color: rgb(19, 19, 19);
  color: rgb(184, 182, 182);
  border-radius: 0;
  min-width: 5em;
  width: 40vw;
  max-width: 40em;
  height: 1.8em;
}

.video-title-search-button {
  width: 3.6em;
  height: 2em;
  margin-left: 1px;
  padding-top: 1px;
  text-align: center;
  border-width: 0em;
  background-color: rgb(50, 50, 50);
}

.video-title-search-button-icon {
  width: 0.9em;
  margin-bottom: 0.15em;
}

.navbar-user-dropdown-button {
  margin-right: 10.8em;
  margin-top: -0.1em;
  width: 2.2em;
  height: 2.4em;
}

.navbar-user-avatar {
  width: 2.4em;
  height: 2.4em;
  border-radius: 1.2em;
  margin-bottom: 0.1em;
  margin-top: -0.2em;
  padding-bottom: 0;
  margin-left: -0.65em;
}

.user-navlink-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.font-awesome-user-menu-icon {
  font-size: 1.1em;
  color: rgb(155, 155, 155);
  margin-right: 0.8em;
  margin-top: 0.55em;
}

.user-navlink-text {
  padding-top: 0.1em;
}

.nav-item {
  padding-bottom: 0.5em;
  margin-bottom: 0.2em;
}

.dropdown-item {
  height: 3em;
  /* width: 16em; */
  font-size: 0.9em;
  margin-left: 0;
  margin-bottom: 0.2em;
}

.navlink-text {
  margin-bottom: 0.3em;
}

.dropdown-item:hover {
  background-color: rgb(64, 64, 64) !important;
}

.nav-item p {
  margin-top: 0.3em;
}

.nav-link-div {
  display: flex;
  flex-direction: row;
}

nav a {
  color: white;
  text-decoration: none;
  margin-top: 0.4em;
}
    
nav a.active {
  color: white;
  box-sizing: border-box;
}

nav a:hover {
  text-decoration: none;
  color: white;
}
    