.signup-form-div {
  width: 100vw;
  text-align: center;
  margin-top: -2.5em;
}

.signup-form {
  display: inline-block;
  width: 50vw;
  min-width: 19em;  
  max-width: 32em;
  padding: 2.5em;
  margin-top: 1.5em;
  background-color: rgb(32, 32, 32);
  padding-bottom: 3.5em;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 4em;
}

.signup-form-label {
  float: left;
  margin-top: 0.2em;  
}
    
.signup-form input {
  background-color: rgb(24, 24, 24);
  color: white;  
 }
  
/* .signup-form input:hover {
  background-color: rgb(24, 24, 24);
  border: 2px solid rgba(0, 0, 0, 0.5);  
} */
    
.signup-form label {
  color: white;
}

.signup-form-div-signup-message {
  color: white;
  margin-top: 2em;
}

.signup-form-button {
  float: right;
  margin-top: 1em;
  margin-bottom: -1em;
}
    
.bad-signup-div {
  background-color: rgba(226, 31, 31, 0.3);
  min-height: 2.5em;
  border-radius: 0.7em;
  margin-bottom: 0.5em;
}
    
.bad-signup-message {
  color: rgb(128, 55, 55);
  text-align: center;
  padding: 0.5em;
}