.subscriptions-list-div {
  background-color:rgb(32, 32, 32);
  width: 75em;
  min-height: 100vh;
  padding-top: 3em;
  margin-left: 10em;
  padding-right: 3em;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.subscriptions-empty-div {
  height: 25em;
  background-color: rgb(28, 28, 28);
  margin-left: 10em; 
  margin-top: 3em;
  margin-right: 5em;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.subscriptions-empty-message-card {
  margin-top: 1em;
  width: 50em;
}

.subscriptions-empty-list-empty-message-image {
  width: 15em;  
}

.subscriptions-empty-list-empty-message {
  text-align: center;
  color: white;  
}