.comment-column-div {
  /* width: 53em; */
  margin-top: 1em;

  display: flex;
  flex-direction: row;
}

.comment-column-div:hover {
  box-shadow: 2px 2px 2px 1px rgba(64, 64, 64, 0.2);
}


.comment-div-user-avatar-div {
  width: 3.5em;
}

.comment-div-user-avatar {
  width: 2.7em;
  height: 2.7em;
  border-radius: 1.35em;
  margin-left: -0.3em  
}

.comment-row-div {
  /* width: 53em; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment-div-username-and-date-div {
  height: 1.8em;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.comment-div-username {
  color: white;
  font-weight: 500;
  margin-left: 0.2em;  
}

.comment-div-date {
  color: grey;
  margin-left: 0.5em; 
  font-size: 0.9em;
  margin-top: 0.15em;
  font-weight: 600em; 
}

.comment-div-content-div {
  min-height: 5em;
}

.comment-div-content {
  color: white;
  float: left;  
}